{% load static %}
<html>
    <head>
       <title>Summer Projects 2019-P Club</title>
      <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

    </head>
    <body>

       <div>
         <h4>Mentors:</h4>
         <a href="http://home.iitk.ac.in/~yugeshk/#tf-home">Yugesh Kothari</a>
         <p>Aditya Gulati</p>
         <p>Yasharth Bajpai</p>
         <p>Vishal Agarwal</p>
         <h4>Commitment:</h4>
         <p>3-4 hours/day</p>
         <p>This project is semi-exclusive (Only other pclub projects allowed with this project)
Recommendation - 8 languages in 8 weeks is a good choice with this project</p>
</div>


    <body>
</html>
